stages:
    - test
    - build
    - deploy

docker_test:
    stage: test
    image: docker/compose
    services: 
      - docker:dind
    before_script:
      - docker-compose -f ./lykka-backend/docker-compose.test.yml build
    script:
      - docker-compose -f ./lykka-backend/docker-compose.test.yml up --exit-code-from api

docker_build:
    stage: build
    only: ## we only want to build for master branch
        - main
    image: docker:latest
    services:
        - docker:dind
    before_script:
        - docker info
        - echo $SERVICE_KEY_FILE > /tmp/$CI_PIPELINE_ID.json # SERVICE_KEY_FILE is an environment variable that has our auth key, CI_PIPELINE_ID is an environment variable set by GitLab for the unique pipeline ID this runs every time. We take contents from the variable and add it to a file so we can use it again in next stage
        - docker login -u _json_key -p "$(cat /tmp/$CI_PIPELINE_ID.json)" https://gcr.io # login into GCR
    
    script:
        - docker build -t deploy_image lykka-backend/
        - docker tag deploy_image gcr.io/$PROJECT_ID/$SERVICE_NAME
        - docker push gcr.io/$PROJECT_ID/$SERVICE_NAME
        - rm /tmp/$CI_PIPELINE_ID.json # let's clean up

gcp_deploy:
    stage: deploy
    only:
        - main
    image: google/cloud-sdk # let's grab an existing image that has the cloud sdk
    before_script:
        - echo $SERVICE_KEY_FILE > /tmp/$CI_PIPELINE_ID.json
        - gcloud auth activate-service-account --key-file /tmp/$CI_PIPELINE_ID.json # we need to authenticate
    script:
        - gcloud --project $PROJECT_ID run deploy $SERVICE_NAME --image=gcr.io/$PROJECT_ID/$SERVICE_NAME --region=northamerica-northeast1 --allow-unauthenticated --add-cloudsql-instances $CLOUDSQL_CONNECTION_NAME --update-env-vars DATABASE_SOCKET="/cloudsql/$CLOUDSQL_CONNECTION_NAME",DATABASE_USER=$DATABASE_USER,DATABASE_PASSWORD=$DATABASE_PASSWORD,DATABASE_NAME=$DATABASE_NAME,ENV_PORT=8080 --platform=managed # run the deploy command
        - rm /tmp/$CI_PIPELINE_ID.json # let's clean up
